* {
	font-family: Verdana;
}
header.page-header {
	box-shadow: 0px 0px 10px 10px #a4a475;
	margin-top: -18px;
	padding-top: 20px;
	border-bottom: 2px solid black;
	background-color: #7b7b51;
	color: #d9d9d9;
	text-align: center;
}

.radio {
    opacity: 0;
    position: absolute;
}

/* index.html imgs */
#wild1Img {
	background: url(../img/wild1.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#beach1Img {
	background: url(../img/beach1.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#city1Img {
	background: url(../img/city.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#wild2Img {
	background: url(../img/wild2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#beach2Img {
	background: url(../img/beach2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#city2Img {
	background: url(../img/city2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#wild3Img {
	background: url(../img/wild3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#beach3Img {
	background: url(../img/beach3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#city3Img {
	background: url(../img/city3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}
/* wild imgs */

#mountain1Img {
  background: url(../img/montane1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#desert1Img {
  background: url(../img/desert.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#forest1Img {
  background: url(../img/forest1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#mountain2Img {
  background: url(../img/montane2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#desert2Img {
  background: url(../img/desert2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#forest2Img {
  background: url(../img/forest2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#mountain3Img {
  background: url(../img/montane3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#desert3Img {
  background: url(../img/desert3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

#forest3Img {
  background: url(../img/forest3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  margin: 10px;
}

input[type="radio"] + label {
	box-shadow: 2px 2px 6px 6px lightgray;
}

input[type="radio"]:checked + label {
    box-shadow: 0px 0px 10px 10px teal;
}

