
/* universal  styles */
* {
	font-family: Verdana;
}

body {
  background-color: #b3ffcc;
}

/* the header */
header.page-header {
	box-shadow: 0px 0px 10px 10px #a4a475;
	margin-top: -18px;
	padding-top: 20px;
	border-bottom: 2px solid black;
	background-color: #7b7b51;
	color: #d9d9d9;
	text-align: center;
}

/* forms and their wrappers */
.radio {
    opacity: 0;
    position: absolute;
}

.row {
  margin-top: 70px;
}

/* destination pages */

.montane.container-fluid {
  margin-top: -20px;
  background-image: url(../img/mount.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.deserted.container-fluid {
  margin-top: -20px;
  background-image: url(../img/sand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.forested.container-fluid {
  margin-top: -20px;
  background-image: url(../img/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.europa.container-fluid {
  margin-top: -20px;
  background-image: url(../img/paris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.asiatic.container-fluid {
  margin-top: -20px;
  background-image: url(../img/asia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.brasilia.container-fluid {
  margin-top: -20px;
  background-image: url(../img/rio.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.oregonian.container-fluid {
  margin-top: -20px;
  background-image: url(../img/coast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tropic.container-fluid {
  margin-top: -20px;
  background-image: url(../img/tropic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

  .californ.container-fluid {
  margin-top: -20px;
  background-image: url(../img/sun.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }


.option1,.option2,.option3 {
  display: none;
  height: 200px;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;  
  }

button.btn-lg {
  margin-top: 10px;
}

a {
  color: black;
}

a#white {
  color: white;
}

/* index.html imgs */
#wild1Img {
	background: url(../img/wild1.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 235px;
  display: block;
  margin: 10px;
}

#beach1Img {
	background: url(../img/beach1.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#city1Img {
	background: url(../img/city.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#wild2Img {
	background: url(../img/wild2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#beach2Img {
	background: url(../img/beach2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#city2Img {
	background: url(../img/city2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#wild3Img {
	background: url(../img/wild3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#beach3Img {
	background: url(../img/beach3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#city3Img {
	background: url(../img/city3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}
/* wild imgs */

#mountain1Img {
  background: url(../img/montane1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#desert1Img {
  background: url(../img/desert.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#forest1Img {
  background: url(../img/forest1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#mountain2Img {
  background: url(../img/montane2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#desert2Img {
  background: url(../img/desert2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#forest2Img {
  background: url(../img/forest2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#mountain3Img {
  background: url(../img/montane3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#desert3Img {
  background: url(../img/desert3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#forest3Img {
  background: url(../img/forest3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

/* city imgs */

#europe1Img {
  background: url(../img/europe1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#asia1Img {
  background: url(../img/asia1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#brazil1Img {
  background: url(../img/brazil1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#europe2Img {
  background: url(../img/europe2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#asia2Img {
  background: url(../img/asia2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#brazil2Img {
  background: url(../img/brazil2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#europe3Img {
  background: url(../img/europe3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#asia3Img {
  background: url(../img/asia3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#brazil3Img {
  background: url(../img/brazil3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

/* beach imgs */

#oregon1Img {
  background: url(../img/oregon1.jpeg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#tropical1Img {
  background: url(../img/tropical1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#california1Img {
  background: url(../img/cali1.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#oregon2Img {
  background: url(../img/oregon2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#tropical2Img {
  background: url(../img/tropical2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#california2Img {
  background: url(../img/cali2.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#oregon3Img {
  background: url(../img/oregon3.jpeg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#tropical3Img {
  background: url(../img/tropical3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}

#california3Img {
  background: url(../img/cali3.jpg);
  background-repeat: no-repeat; 
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 233px;
  display: block;
  margin: 10px;
}


/* buttons and radios */
button.continue {
  border-radius: 12px;
  width: 78%;
  height: 45px;
  background-color: #009933;
  position: absolute;
  margin-top: -811px;
}

input[type="radio"] + label {
	box-shadow: 2px 2px 6px 6px lightgray;
}

input[type="radio"]:checked + label {
    box-shadow: 0px 0px 10px 10px teal;
}

