header.page-header {
	text-align: center;
}

.radio {
    opacity: 0;
    position: absolute;
}

#wild1Img {
	background: url(../img/wild1.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#beach1Img {
	background: url(../img/beach1.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#city1Img {
	background: url(../img/city.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#wild2Img {
	background: url(../img/wild2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#beach2Img {
	background: url(../img/beach2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#city2Img {
	background: url(../img/city2.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#wild3Img {
	background: url(../img/wild3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#beach3Img {
	background: url(../img/beach3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

#city3Img {
	background: url(../img/city3.jpg);
  background-repeat: no-repeat;	
  text-indent: -999em;
  border: 10px solid white;
  width: 320px;
  height: 240px;
  display: block;
  float: left;
  margin: 10px;
}

input[type="radio"] + label {
	box-shadow: 2px 2px 6px 6px lightgray;
}

input[type="radio"]:checked + label {
    box-shadow: 0px 0px 10px 10px teal;
}

